.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(#0e8ac5, #079bbc);
}

.App-header {
  height: 150px;
  color: white;
  text-align: left;
  padding: 10vh 20px;
  max-width: 850px;
  margin: auto;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}
