.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(#0e8ac5, #079bbc);
}

.App-header {
  
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
